// NAV

nav
	position: absolute
	top: 0

#logo
	+font($logo-font, 24px, $color-gold)

#nav-menu
	+flex(row, nowrap, flex-end, center)
	.item
		+font($nav-font, 1em, #fff)
		margin-right: 20px
		text-transform: uppercase
		&:last-child
			margin-right: 0

// HEADER HERO

#hero
	+flex()
	+size(100%, 700px)
	+bg-opacity("../../images/hero.png", 0.5)
	.item
		text-align: center
		p
			+font($h-p-font, 40px, #fff)
			text-transform: capitalize
		h1
			+font($h-font, 75px, #fff)
			text-transform: uppercase
		button
			+font($h-font, 1em, #fff)
			padding: 25px 50px
			background: $color-gold
			box-shadow: 0px 0px 10px 5px #ccc

// SERVICES

#services
	+flex()
	.row
		justify-content: space-between
		.item
			max-width: 274px
			text-align: center
			font-family: $p-font
	.icon-1
		margin: 0 auto
		border: 3px solid $color-gold
		border-radius: 50%
		+size(68px, 68px)
		background: url(../../images/icon-basket.svg) no-repeat center
	.icon-2
		@extend .icon-1
		background: url(../../images/icon-laptop.svg) no-repeat center
	.icon-3
		@extend .icon-1
		background: url(../../images/icon-locked.svg) no-repeat center
		

// PORTFOLIO

#portfolio
	+flex()
	width: 100%
	background: $bg-dark
	.row
		justify-content: space-between
	.item
		text-align: center
		background: #fff
		p
			font-family: $h-p-font

// ABOUT US

#about
	.col, h3
		text-align: right
		&:nth-child(2)
			flex: 0.6
		&:nth-child(3), &:nth-child(3) > h3
			text-align: left
	.last-about
		display: flex
		align-items: center
		text-align: center
		+size(182px, 182px)
		background: $color-gold
		border: 7px solid #f1f1f1
		border-radius: 50%


