// NAV

nav
	position: absolute
	top: 0

.logo
	+font($logo-font, 24px, $color-gold)
	margin-top: 34px

.hamburger
	display: none
	z-index: 2
	position: fixed
	left: 23px
	top: 31px
	+size(40px, 40px)
	line-height: 36px
	cursor: pointer
	transform-origin: center center
	transition: linear .4s
	+media(small)
		display: block
.hum
	border-left: 2px solid $color-gold
	margin-left: 8px;
	height: 20px
	width: 40px


.menu-btn
	display: none
	+media(small)
		display: block
		position: fixed
		+size(40px, 40px)
		left: 25px
		top: 32px
		background: transparent
		border: 2px dotted black
		color: $white
		z-index: 3
		opacity: 0

.menu-btn:checked ~ .nav-menu
	right: 0

.menu-btn:checked ~ .hamburger
	transform: rotate(90deg)

.nav-menu
	+flex(row, nowrap, flex-end, center)
	margin-top: 34px
	+media(small)
		margin-top: 0
		flex-direction: column
		position: fixed
		top: 0
		right: 100%
		background: $p-grey
		width: 100vw
		height: 50vh
		justify-content: space-around
		z-index: 1
		transition: linear .5s
	.item
		+font($nav-font, 1em, $white)
		z-index: 2
		margin-right: 20px
		text-transform: uppercase
		transition: .3s
		&:hover
			color: $color-gold
			cursor: pointer
		&:last-child
			margin-right: 0
		+media(small)
			margin: 10px 0


// HEADER HERO

.hero
	+flex()
	+size(100%, 700px)
	+bg-opacity("../images/hero.png", 0.5, cover)
	+media(sm-md)
		height: 100vh
	.item
		text-align: center
		+media(medium)
			max-width: 90%
		p
			+font($h-p-font, 40px, $white)
			text-transform: capitalize
			+media(small)
				display: none
		h1
			+font($h-font, 75px, $white)
			margin: 20px 0
			text-transform: uppercase
			overflow: hidden
			border-right: .15em solid orange
			white-space: nowrap
			letter-spacing: 1px
			animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite
			+media(small)
				font-size: 3.7em
				margin: 20px 10px
				border: none
				white-space: normal
				animation: none
		button
			+btn

// SERVICES

.services
	+flex()
	.row
		justify-content: space-between
		+media(sm-md)
			justify-content: space-around
		.item
			max-width: 274px
			text-align: center
			font-family: $p-font
			margin-bottom: 120px
			+media(sm-md)
				margin-bottom: 40px
	.icon
		margin: 0 auto
		border: 3px solid $color-gold
		border-radius: 50%
		+size(68px, 68px)
		padding: 20px
		
// PORTFOLIO

.portfolio
	+flex()
	width: 100%
	background: $bg-dark
	padding-bottom: 70px
	.row
		justify-content: space-between
		+media(sm-md)
			justify-content: space-around
	.item
		text-align: center
		background: $white
		margin-bottom: 50px
		h3
			margin-bottom: 4px
		p
			font-family: $h-p-font
			margin-bottom: 28px
		&:hover
			animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
			transform: translate3d(0, 0, 0)
			backface-visibility: hidden
			perspective: 1000px

// ABOUT US

.about
	padding-bottom: 15px
	.row
		margin-bottom: 105px
		transition: 1s
		&:hover
			transform: scale(1.2, 1.2)
		+media(small)
			flex-direction: column
			margin-bottom: 0
			transform: scale(0.8, 0.8)
			&:hover
				transform: scale(1, 1)
	img
		margin: 0 45px
		+media(small)
			+size(50vw, 50vw)
		+media(medium)
			+size(30vw, 30vw)
	.empty
		+media(sm-md)
			display: none
	.col
		text-align: right
		align-items: flex-end
		+media(small)
			order: 1
			max-width: 90vw
			text-align: center
			align-items: center
		h3
			&:first-line
				text-transform: uppercase
		&:nth-child(3)
			text-align: left
			align-items: flex-start
			+media(small)
				order: 1
				max-width: 90vw
				text-align: center
				align-items: center
	.last-about
		+flex()
		text-align: center
		+size(182px, 182px)
		background: $color-gold
		border: 7px solid #f1f1f1
		border-radius: 50%
		+media(small)
			+size(50vw, 50vw)
		+media(medium)
			+size(30vw, 30vw)
		p
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7)
			color: $white
			+font($h-font, 18px, $white)
			text-transform: uppercase
			word-spacing: 500px

// TEAM

.team
	+flex()
	width: 100%
	background: $bg-light
	.row
		justify-content: space-around
		text-align: center
		&.bottom
			max-width: 600px
			margin-bottom: 120px
			+media(small)
				max-width: 90vw
	.item
		margin-bottom: 50px
		.team-photo
			+size(221px, 221px)
			border-radius: 50%
			background: #000000
			margin-bottom: 26px
			transition: .5s
			&:hover
				transform: scale(1.1, 1.1)
		p
			+font($h-font, 16px, #000000)
			&+p
				+font($h-p-font, 14px, $p-grey)
				margin-top: 6px
		span
			display: inline-flex
			align-items: center
			justify-content: center
			margin-top: 12px
			+size(41px, 41px)
			font-size: 20px
			border-radius: 50%
			border: 3px solid #222222
			background-color: #f9f9f9
			transition: .3s
			&:hover
				background-color: $color-gold
				color: white
				border-color: $color-gold

// COOPERATION

.cooperation
	img
		margin: 60px 20px
		// flex: 1 50%	


// CONTACT

.contact
	+flex()
	width: 100%
	padding-bottom: 120px
	background: url(../images/map-image.svg) 120% repeat, #222222
	transition: 10s
	&:hover
		background-position: -1000%
	+media(small)
		padding-bottom: 40px
		background-position: 30%
		&:hover
			background-position: 30%
	.header
		h2
			color: $white
	.form
		.row
			flex-wrap: nowrap
			width: 100%
			+media(small)
				flex-direction: column
		.col
			&:first-child
				margin-right: 20px
			&+.col
				margin-left: 20px	
		input
			+size(100%, 50px)
			border: 1px solid #cccccc
			background-color: $white
			margin-bottom: 30px
			line-height: normal
			text-indent: 20px
			+media(small)
				width: 80vw
				margin-right: -20px
		textarea
			display: inline-flex
			+size(100%, 210px)
			border: 1px solid #cccccc
			background-color: $white
			margin-bottom: 30px
			padding-top: 10px
			text-indent: 20px
			+media(small)
				width: 80vw
				margin-left: -20px
		button
			+btn

// FOOTER

.footer
	.row
		line-height: 60px
		+media(small)
			flex-direction: column-reverse
			margin-top: 20px
			line-height: 40px
	.item
		flex: 1
		text-align: center
		p
			text-align: left
			+media(small)
				text-align: center
	.footer-social
		width: 100%
		span
			display: inline-flex
			align-items: center
			justify-content: center
			+size(41px, 41px)
			font-size: 20px
			border-radius: 50%
			border: 3px solid #222222
			background-color: #000
			color: white
			transition: .3s
			&:hover
				background-color: $white
				color: $color-gold
				border-color: $color-gold