=font($family:sans-serif, $size:1em, $color:black)
	font-family: $family
	font-size: $size
	color: $color

=flex($flex-direction:row, $wrap:wrap, $horizontal:center, $vertical:center)
	display: flex
	flex-flow: $flex-direction $wrap
	@if $flex-direction == "row"
		justify-content: $horizontal
		align-items: $vertical
	@else if $flex-direction == "column"
		justify-content: $vertical
		align-items: $horizontal
	@else
		@error "Invalid flex argument"


=bg-opacity($bg-image-url, $opacity, $size:normal)
	position: relative
	&:before
		content: ""
		background: url($bg-image-url) no-repeat center
		background-size: $size
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: -1
	&:after
		@extend #hero:before
		background: rgba(0,0,0,$opacity)

=btn
	+font($h-font, 1em, #fff)
	padding: 25px 50px
	background: $color-gold


$small: '(max-width: 767px)'
$medium: '(min-width: 768px) and (max-width: 979px)'

=media($point)
	@if $point == small
		@media (max-width: 767px)
	  	@content
	@else if $point == medium
		@media (min-width: 768px) and (max-width: 933px)
	  	@content
	@else if $point == sm-md
		@media (max-width: 933px)
	  	@content


