//COLORS

$color-gold: #FED136
$h-black: #222222
$p-grey: #777777
$bg-dark: #f7f7f7

//FONTS
$logo-font: Wisdom-script $color-gold 26px
$nav-font: Montserrat-regular #fff
$h-font: Montserrat-bold
$h-p-font: Droidserif-italic
$p-font: Robotoslab-regular $p-grey
$input-font: Montserrat-bold #bbbbbb
$footer: Montserrat-regular #555555

@font-face
	font-family: Wisdom
    src: url(../fonts/Wisdom-Script.otf)