@font-face {
  src: url(../fonts/Wisdom-Script.otf);
  font-family: Wisdom;
}

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: Montserrat-regular;
}

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: Montserrat-bold;
}

@font-face {
  src: url(../fonts/RobotoSlab-Regular.ttf);
  font-family: Robotoslab-regular;
}

@font-face {
  src: url(../fonts/droid-serif-italic.ttf);
  font-family: Droidserif-italic;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container {
  max-width: 934px;
  width: 100%;
}

h2 {
  font-family: Montserrat-bold;
  font-size: 40px;
  color: #222222;
  text-transform: uppercase;
}

h2 + p {
  font-family: Droidserif-italic;
  font-size: 16px;
  color: #777777;
}

h3 {
  font-family: Montserrat-bold;
  font-size: 18px;
  color: #222222;
}

p {
  font-family: Robotoslab-regular;
  font-size: 14px;
  color: #777777;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
}

#logo {
  font-family: Wisdom;
  font-size: 24px;
  color: #FED136;
}

#nav-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

#nav-menu .item {
  font-family: Montserrat-regular;
  font-size: 1em;
  color: #fff;
  margin-right: 20px;
  text-transform: uppercase;
}

#nav-menu .item:last-child {
  margin-right: 0;
}

#hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  position: relative;
}

#hero:before, #hero:after {
  content: "";
  background: url("../../images/hero.png") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#hero:after {
  background: rgba(0, 0, 0, 0.5);
}

#hero .item {
  text-align: center;
}

#hero .item p {
  font-family: Droidserif-italic;
  font-size: 40px;
  color: #fff;
  text-transform: capitalize;
}

#hero .item h1 {
  font-family: Montserrat-bold;
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
}

#hero .item button {
  font-family: Montserrat-bold;
  font-size: 1em;
  color: #fff;
  padding: 25px 50px;
  background: #FED136;
  box-shadow: 0px 0px 10px 5px #ccc;
}

#services {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#services .row {
  justify-content: space-between;
}

#services .row .item {
  max-width: 274px;
  text-align: center;
  font-family: Robotoslab-regular;
}

#services .icon-1, #services .icon-2, #services .icon-3 {
  margin: 0 auto;
  border: 3px solid #FED136;
  border-radius: 50%;
  height: 68px;
  width: 68px;
  background: url(../../images/icon-basket.svg) no-repeat center;
}

#services .icon-2 {
  background: url(../../images/icon-laptop.svg) no-repeat center;
}

#services .icon-3 {
  background: url(../../images/icon-locked.svg) no-repeat center;
}

#portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f7f7f7;
}

#portfolio .row {
  justify-content: space-between;
}

#portfolio .item {
  text-align: center;
  background: #fff;
}

#portfolio .item p {
  font-family: Droidserif-italic;
}

/*# sourceMappingURL=app.css.map */